## How to import data from yahoo finance

In [1]:
from pandas_datareader import data
from pandas_datareader._utils import RemoteDataError
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime
#import talib as ta

#### Import Data

In [2]:
import pandas as pd
dat= pd.read_csv('data_jun.csv', header=[0,1], index_col=[0])

### CCI Calculation

In [3]:
#dat=dat.iloc[1201:].fillna(method='ffill')
TYP= (dat['Close']+dat['Low']+dat['High'])/3

In [4]:
PTmean = TYP.rolling(window = 20, min_periods=10).mean()#.fillna(value=0)

In [5]:
import numpy as np
mads = lambda x: np.fabs(x - x.mean()).mean()
Mad = TYP.fillna(method='ffill').rolling(window=20).apply(mads, raw=True)

In [6]:
CCI05=(TYP - PTmean)/(Mad*.015)
CCI05
#https://www.profitspi.com/stock/view.aspx?v=stock-chart&uv=100564&p=LUV

,A,AA,AAL,AAN,AAOI,AAON,AAP,AAPL,AAXN,AB,...,ZEN,ZGNX,ZI,ZM,ZNGA,ZNH,ZS,ZTO,ZTS,ZUO
Date,,,,,,,,,,,,,,,,,,,,,
2017-03-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-27 00:00:00,-119.563502,-76.526487,-115.155626,-75.067840,-46.826894,155.425364,-169.910078,-48.010176,NaN,-56.101556,...,NaN,NaN,-122.426478,-73.708844,NaN,160.476911,-10.941760,-116.986594,-13.917791,1.499088
2023-02-28 00:00:00,-107.182128,-30.154602,-80.221370,-55.422524,15.788619,377.119861,-52.274678,-67.625458,NaN,-64.594768,...,NaN,NaN,-130.773585,-53.602215,NaN,202.267696,-48.826622,-107.471603,-4.622497,-61.843225
2023-03-01 00:00:00,-143.124204,61.607876,-63.968245,-64.911361,36.947963,289.136096,-133.039301,-125.845925,NaN,-76.208792,...,NaN,NaN,-112.362759,-130.132655,NaN,174.733991,-116.595492,-80.623572,-1.199258,-155.932720
2023-03-02 00:00:00,-104.421120,92.129704,-50.296612,-300.102616,-11.076876,218.105672,-130.182154,-139.562733,NaN,-137.004201,...,NaN,NaN,-96.051837,-140.404500,NaN,228.044688,-39.344270,-93.418504,15.583195,161.337928
2023-03-03 00:00:00,-52.483253,166.563014,6.034084,-210.461076,-17.270727,192.616781,-114.204977,-20.071827,NaN,-71.622025,...,NaN,NaN,-38.819807,-129.129045,NaN,187.014091,-289.397362,-68.161058,53.983998,326.047226

In [7]:
Ress = CCI05.tail(1).T
Ress.to_csv('cci_jul.csv')

### Simple Moving Average

In [8]:
dat['Close'].rolling(window=336, min_periods=19).mean().tail(1).T.to_csv("336DAYS.csv")
dat['Close'].rolling(window=1460, min_periods=19).mean().tail(1).T.to_csv("1460DAYS.csv")
dat['Close'].rolling(window=200, min_periods=19).mean().tail(1).T.to_csv("200DAYS.csv")
dat['Close'].rolling(window=50, min_periods=19).mean().tail(1).T.to_csv("50DAYS.csv")
dat['Close'].rolling(window=10, min_periods=1).mean().tail(1).T.to_csv("10DAYS.csv")

In [17]:
da = dat['Close'].rolling(window=10, min_periods=1).mean().tail(3)

In [26]:
100*(da.loc['2022-04-14',:]-da.loc['2022-04-13',:])/da.loc['2022-04-13',:]

A      -0.445261
AA     -0.259636
AAL     0.424857
AAN     0.624789
AAOI   -1.917724
          ...
ZNH    -0.141024
ZS     -0.443957
ZTO     0.513162
ZTS    -0.067321
ZUO    -0.964875
Length: 1784, dtype: float64