# RSI NOTE BOOK

In [1]:
import pandas as pd
import numpy
#import talib
#from talib import abstract
from pandas_datareader import data as pdr

import yfinance as yf

### Pull the data from yahoo website
* Create a dataframe

In [2]:
#RSI.to_csv('data05.csv')
RSI=pd.read_csv('data_jun.csv', header=[0,1], index_col=[0])
RSI

                      Adj Close                                          \
                              A         AA        AAL    AAN       AAOI
Date
2017-03-27 00:00:00   50.809261  32.161133  40.424458    NaN  59.880001
2017-03-28 00:00:00   51.000122  32.606846  41.257355    NaN  58.560001
2017-03-29 00:00:00   50.694740  32.596943  40.637527    NaN  58.020000
2017-03-30 00:00:00   50.885605  33.171432  41.199253    NaN  55.349998
2017-03-31 00:00:00   50.581367  34.072773  40.966820    NaN  56.150002
...                         ...        ...        ...    ...        ...
2023-02-27 00:00:00  142.179993  48.040001  15.630000  14.28   2.590000
2023-02-28 00:00:00  141.970001  48.939999  15.980000  14.35   2.810000
2023-03-01 00:00:00  137.509995  51.650002  16.030001  14.40   2.730000
2023-03-02 00:00:00  141.669998  53.689999  16.120001  12.37   2.690000
2023-03-03 00:00:00  143.929993  55.520000  16.360001  12.78   2.730000

                                                                        ...  \
                          AAON         AAP        AAPL AAXN         AB  ...
Date                                                                    ...
2017-03-27 00:00:00  33.633301  138.705765   33.053089  NaN  12.834869  ...
2017-03-28 00:00:00  33.393391  139.231262   33.738174  NaN  13.042843  ...
2017-03-29 00:00:00  33.537338  140.460739   33.813244  NaN  13.042843  ...
2017-03-30 00:00:00  33.825207  139.522232   33.768673  NaN  13.369656  ...
2017-03-31 00:00:00  33.921173  139.137390   33.705330  NaN  13.577629  ...
...                        ...         ...         ...  ...        ...  ...
2023-02-27 00:00:00  81.489998  140.630005  147.919998  NaN  38.669998  ...
2023-02-28 00:00:00  90.959999  144.960007  147.410004  NaN  38.840000  ...
2023-03-01 00:00:00  90.570000  138.820007  145.309998  NaN  38.939999  ...
2023-03-02 00:00:00  91.360001  139.210007  145.910004  NaN  38.009998  ...
2023-03-03 00:00:00  93.919998  138.479996  151.029999  NaN  39.110001  ...

                    Volume                                            \
                       ZEN ZGNX         ZI          ZM ZNGA      ZNH
Date
2017-03-27 00:00:00    NaN  NaN        NaN         NaN  NaN  22800.0
2017-03-28 00:00:00    NaN  NaN        NaN         NaN  NaN  45700.0
2017-03-29 00:00:00    NaN  NaN        NaN         NaN  NaN  10600.0
2017-03-30 00:00:00    NaN  NaN        NaN         NaN  NaN  32000.0
2017-03-31 00:00:00    NaN  NaN        NaN         NaN  NaN  54400.0
...                    ...  ...        ...         ...  ...      ...
2023-02-27 00:00:00    NaN  NaN  5020900.0   8477300.0  NaN   6600.0
2023-02-28 00:00:00    NaN  NaN  5838900.0  18552100.0  NaN  13400.0
2023-03-01 00:00:00    NaN  NaN  3313100.0   7258300.0  NaN   3600.0
2023-03-02 00:00:00    NaN  NaN  2940900.0   4093600.0  NaN   9300.0
2023-03-03 00:00:00    NaN  NaN  3889000.0   4352600.0  NaN  16200.0


                             ZS         ZTO        ZTS        ZUO
Date
2017-03-27 00:00:00         NaN   2887100.0  3168400.0        NaN
2017-03-28 00:00:00         NaN   1564100.0  2328200.0        NaN
2017-03-29 00:00:00         NaN   1564700.0  2269900.0        NaN
2017-03-30 00:00:00         NaN   4342700.0  2697500.0        NaN
2017-03-31 00:00:00         NaN   3114400.0  3163800.0        NaN
...                         ...         ...        ...        ...
2023-02-27 00:00:00   1294700.0   2613400.0  1183700.0   639500.0
2023-02-28 00:00:00   2240300.0   3406100.0  2935200.0  1572800.0
2023-03-01 00:00:00   1756400.0   3769300.0  1594200.0  2073400.0
2023-03-02 00:00:00   5631400.0  14510900.0  1606700.0  3297200.0
2023-03-03 00:00:00  12137400.0   4381600.0  1663200.0  1674600.0

[1500 rows x 10704 columns]

In [3]:



Delta= RSI['Close'].diff()
Delta = Delta[1:]

In [4]:

df = Delta.copy()
Delta[Delta < 0] = 0

In [5]:
Gain = Delta

In [6]:
Loss = df[df<0]

Loss[Loss<0]=abs(Loss[Loss<0])
Loss=Loss.fillna(value=0)

In [7]:
exmax = Gain.ewm(com=4, adjust = False).mean()
exmin = Loss.ewm(com=4, adjust = False).mean()

In [8]:
rs = exmax/exmin

In [9]:
rs.index

Index(['2017-03-28 00:00:00', '2017-03-29 00:00:00', '2017-03-30 00:00:00',
       '2017-03-31 00:00:00', '2017-04-03 00:00:00', '2017-04-04 00:00:00',
       '2017-04-05 00:00:00', '2017-04-06 00:00:00', '2017-04-07 00:00:00',
       '2017-04-10 00:00:00',
       ...
       '2023-02-17 00:00:00', '2023-02-21 00:00:00', '2023-02-22 00:00:00',
       '2023-02-23 00:00:00', '2023-02-24 00:00:00', '2023-02-27 00:00:00',
       '2023-02-28 00:00:00', '2023-03-01 00:00:00', '2023-03-02 00:00:00',
       '2023-03-03 00:00:00'],
      dtype='object', name='Date', length=1499)

In [10]:
rsi = 100 - (100/(1+rs))
rsi.loc['2023-03-03 00:00:00'].to_csv('RSI-5.csv')
rsi['HA'].tail(1)

Date
2023-03-03 00:00:00    64.968909
Name: HA, dtype: float64

In [11]:
exmax = Gain.ewm(com=13, adjust = False).mean()
exmin = Loss.ewm(com=13, adjust = False).mean()

In [12]:
rs = exmax/exmin

In [13]:
rsi = 100 - (100/(1+rs))
rsi.loc['2023-03-03 00:00:00'].to_csv('RSI-14.csv')
rsi['HA'].tail(1)

Date
2023-03-03 00:00:00    51.764711
Name: HA, dtype: float64